<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=)" charset="UTF-8">
</head>
<body>
        <div class="container">
            <h3>Order Confirmation</h3>
            <p>Dear <span th:text="${customerName}"></span></p>
            <p> Your order:<span th:text="${orderReference}"></span>has successfully processed by <span th:text="${paymentMethod}"></span>$</p>
            <h4>Products</h4>
                <table>
                        <thead>
                                <tr>Product Name</tr>
                                <tr>Quantity</tr>
                                <tr>Price</tr>
                        </thead>
                        <tbody>
                                <tr th:each="product : ${products}">
                                        <td th:text="${product.name}"></td>
                                        <td th:text="${product.quantity}"></td>
                                        <td th:text="${product.price}"></td>
                                </tr>
                        </tbody>
                </table>
                <p> Order Total: <span th:text="${amount}"></span></p>
            <p>Thank you for choosing our service</p>
            <hr>
            <div class="footer">
                    <p>This is an automated message, do not reply to this email</p>
                    <p> rafaelswr, all rights reserved <3</p>
            </div>
        </div>
</body>
</html>
